/* ==========================================================================
   Download Component
   ========================================================================== */

@mixin download {
  @include component(download) {
    background-color: #ccc;

    @include descendent(container) {
      @include vw(padding, 20px);
      text-align: center;
    }
  }


/*
   Media Queries - Tablet
   ========================================================================== */
   @include min-screen(mq('tablet')) {

     @include component (download) {
       @include descendent (container) {
         display: flex;
       }

       @include descendent(items) {
        flex: 1 1 auto;
       }
     }
   }
}


