/* ==========================================================================
   Download Component
   ========================================================================== */

@mixin feed {
  @include component(feed) {

    @include descendent(list) {
      @extend .u-is-not-list;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      @include descendent(item) {
        @include vw(padding, 10px);
        transform: translate3d(0,0,0);
        transition: all 300ms ease-in-out;
        background: #fff;
        flex: 0 1 96%;
        margin: 3% 2%;

        img {
          cursor: pointer;
          width: 100%;
          max-width: 100%;
        }

        &:hover {
          transform: scale(1.1);
          opacity: 1;
          box-shadow: 3px 3px 5px -2px rgba(153,153,153,1);
        }

        @media screen and (min-width: 768px) {
          flex: 0 1 46%;
        }

        @media screen and (min-width: 1024px) {
          flex: 0 1 31%;
          margin: 1%;
        }

        @media screen and (min-width: 1280px) {
          flex: 0 1 23%;
        }
      }

      @include descendent(profile) {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          width: auto;
          max-width: auto;
          margin-right: 10px;
        }
      }

      @include descendent(info) {
        display: flex;
        flex-direction: column;
      }

      @include descendent(username) {
        font-size: 14px;
        color: #999;
      }
    }

  }


/*
   Media Queries - Tablet
   ========================================================================== */
   @include min-screen(mq('tablet')) {

     @include component (download) {
       @include descendent (container) {
         display: flex;
       }

       @include descendent(items) {
        flex: 1 1 auto;
       }
     }
   }
}


