/* ==========================================================================
   Step Component
   ========================================================================== */

@mixin phone {
  @include component(phone) {

    @include modifier(default) {
      outline: none;
    }

    @include modifier(valid) {
      outline: none;
      border: 1px solid green;
    }

    @include modifier(invalid) {
      outline: none;
      border: 1px solid red;
    }


  }

/* 
   Media Queries - Tablet
   ========================================================================== */

  @include min-screen(mq('tablet')) {

    @include component (phone) {}

  }

/* 
   Media Queries - Laptop
   ========================================================================== */

  @include min-screen(mq('laptop')) {

    @include component (phone) {
      background-color: #eee;
    }
  }


/* 
   Media Queries - Desktop
   ========================================================================== */

  @include min-screen(mq('desktop')) {

    @include component (phone) {
      background-color: #eee;
    }
  }
}
