/* ==========================================================================
   Video Component
   ========================================================================== */

@mixin video {
  @include component (video) {
    height: 45vh;
    width: 100%;
    background-color: #eee;
    display: flex;
    border: 1px solid;



    @include modifier (playing) {
      color: blue;
    }

    @include descendent (play-button) {
      color: navy;
    }

    @include when (playing) {
      color: crimson;
    }
  }

/* 
   Media Queries - Tablet
   ========================================================================== */

  @include min-screen(mq('tablet')) {

    @include component (video) {
      background-color: #eee;
    }
  }


  /* 
     Media Queries - Laptop
     ========================================================================== */

  @include min-screen(mq('laptop')) {

    @include component (video) {
      background-color: #eee;
    }
  }


  /* 
     Media Queries - Desktop
     ========================================================================== */

  @include min-screen(mq('desktop')) {

    @include component (video) {
      background-color: #eee;
    }
  }
}
