html {
  font-size: 100%;
}

body {
  font-family: font('Roboto');
  line-height: 1.4;
  background: #eee;
}

@include utility(is-not-list) {
  margin: 0;
  padding: 0;
  list-style: none;
}

// ---------------------------------------
// Generate utility classes
// ---------------------------------------

@include generate-color-clss;
@include generate-spaces-clss;
@include generate-font-size-clss('Roboto', $roboto);
