$mq: (
  'mobile' : 320px,
  'tablet' : 768px,
  'laptop' : 960px,
  'desktop': 1280px,
  'wide'   : 1600px
);

$colors: (
  'black': #000,
  'white': #fff
);

$fonts: (
  'Arial' : Arial,
  'Roboto': 'Roboto Condensed'
);

$roboto:(
  'small' : (16px, 20px),
  'medium': (20px, 30px),
  'big'   : (30px, 40px)
);

$spaces: (5, 10, 20, 40, 60, 80);

$namespace: 'defqon';
